extends layout

block content
    .navbar.navbar-inverse
        .navbar-inner
            .container-fluid
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    | Goat Reader
                .nav-collapse
                    ul.nav
                        li
                            a(href='/')
                                | Home
                        li.active
                            a(href='#')
                                | About
                        li
                            a(href='./settings')
                                | Settings
    .container-fluid
        .row-fluid

            .span9#feed_list(style="overflow: scroll;")
                .row-fluid
                    .span10
                        div
                            h2
                                | Google Readerの代わり
                            p
                                | なんか終わるみたいなので自分用に作るかーと。
                                | とりあえずNode.jsとかMongoDBでその他色々勉強がてら使う感じで。
                            p
                                |Twitter:
                                a(href="https://twitter.com/sys1yagi") @sys1yagi
                            p
                                |Github:
                                a(href="https://github.com/sys1yagi/Goat-Reader") sys1yagi / Goat-Reader
                        hr

            hr
                div
                    | © toshihiro yagi 2013
