extends layout

block content
    .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
            .container-fluid
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    | Goat Reader
                .nav-collapse
                    ul.nav
                        li
                            a(href='/')
                                | Home
                        li.active
                            a(href='#')
                                | About
                        li
                            a(href='./settings')
                                | Settings
                form.navbar-form.pull-right
                    input.span2(name='textinput1', type='email', placeholder='Email')
                    input.span2(name='textinput2', type='password', placeholder='Password')
                    button.btn
                        | Sign in

    .container-fluid(style="margin-top:50px;")
        .row-fluid

            .span9#feed_list(style="overflow: scroll;")
                .row-fluid
                    .span10
                        div
                            h2
                                | Google Readerの代わり
                            p
                                | なんか終わるみたいなので自分用に作るかーと。
                                | とりあえずNode.jsとかMongoDBでその他色々勉強がてら使う感じで。
            hr
                div
                    | © toshihiro yagi 2013
