extends layout
block content
    .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
            .container-fluid
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    | Goat Reader
                .nav-collapse
                    ul.nav
                        li.active
                            a(href='#')
                                | Home
                        li
                            a(href='./about')
                                | About
                        li
                            a(href='./settings')
                                | Settings
    .container-fluid(style="margin-top:50px;")
        .row-fluid
            .span2
                if  session_token == null
                    div(style="padding:5px;background-color:#ffcccc;text-align:center;") Anonymouse Mode
                        br
                        a(href="")
                            img(src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png")
                else
                    div Logout
                .well.sidebar-nav
                    ul.nav.nav-list
                        li.nav-header
                            | Home
                        li.active
                            a#all_items(href='#')
                                | all(0)
                        li
                            a#fav_items(href='#')
                                | later(0)
                        li
                            a#fav_items(href='#')
                                | fav(0)
                        li
                            a#fav_items(href='#')
                                | recommend(0)
                        li.nav-header
                            | Social
                        li
                            a(href="#")
                                | twitter(0)
                        li
                            a(href="#")
                                | hot(0)
                        li.nav-header
                            | Feeds
                        li
                            a(href="#")
                                | category1(0)
                        li
                            a(href="#")
                                | news(0)
                        li.nav-header
                            | Settings
                        li
                            a(href='#')
                                | Feed
                        li
                            a(href='#')
                                | Crawl
            .span10
                .well.well-small
                    .btn-toolbar.row-fluid
                        .span10
                            .btn-group
                                button.btn.disabled#unread_items_mode 未読
                                button.btn#all_items_mode 全て
                                a.btn.dropdown-toggle(data-toggle="dropdown",href="#") 並べ替え
                                    span.caret
                                ul.dropdown-menu
                                    a 新しい順
                                    a 古い順
                            a.btn.btn-primary#mark_and_next 既読にして次へ
                        .span2
                            .btn-group
                                a.btn.disabled#view_content_mode(style="padding-top:0px;padding-bottom:0px;")
                                    img(src="img/content.png")
                                a.btn#view_list_mode(style="padding-top:0px;padding-bottom:0px;")
                                    img(src="img/list.png")
                div#item_list(style="overflow: scroll;")
            hr
                div
                    | © toshihiro yagi 2013
    script(type="text/javascript")
        window.onload = function(){
            $("#item_list").height($(window).height()-160);
        }
        require(['flight-component/pages/index'], function(initialize) {
                initialize();
            });

