doctype 5
html
    head
        title= title
        link(href='components/bootstrap.css/css/bootstrap.css', rel="stylesheet")
        link(href='components/bootstrap.css/css/bootstrap-responsive.css', rel="stylesheet")
        script(src='components/jquery/jquery.js')
        script(src='/socket.io/socket.io.js', type='text/javascript')

        body
        block content