doctype 5
html
    head
        title= title
        link(href='components/bootstrap.css/css/bootstrap.css', rel="stylesheet")
        link(href='components/bootstrap.css/css/bootstrap-responsive.css', rel="stylesheet")
        script(src='components/jquery/jquery.js')
        script(src='components/bootstrap.css/js/bootstrap.js')
        script(src="components/es5-shim/es5-sham.js")
        script(src="components/es5-shim/es5-shim.js")
        script(src="components/requirejs/require.js")
        body
        block content