extends layout

block content
    .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
            .container-fluid
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    | Goat Reader
                .nav-collapse
                    ul.nav
                        li
                            a(href='/')
                                | Home
                        li
                            a(href='./about')
                                | About
                        li.active
                            a(href='./settings')
                                | Settings
    .container-fluid(style="margin-top:50px;")
        .row-fluid
            .span2
                .well.sidebar-nav
                    ul.nav.nav-list
                        li.nav-header
                            | Home
                        li
                            a#all_items(href='#')
                                | all(0)
                        li.nav-header
                            | Feeds
                        li
                            a(href='#')
                                | 登録フィード
            .span10(style="overflow: scroll;")
                .row-fluid
                    .span6
                        .input-append
                            input.input-xxlarge#feed(type="text")
                            button.btn#submit 登録

                .row-fluid
                    .span7#feed_list
                        div 登録フィード一覧


            hr
                div
                    | © toshihiro yagi 2013
    script(type="text/javascript")
        require(['flight-component/pages/settings'], function(initialize) {
                initialize();
            });