extends layout
block content

    .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
            .container-fluid
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    | Goat Reader
                .nav-collapse
                    ul.nav
                        li
                            a(href='/')
                                | Home
                        li
                            a(href='./about')
                                | About
                        li.active
                            a(href='./settings')
                                | Settings
    .container-fluid(style="margin-top:50px;")
        .row-fluid
            .span2
                if  session_token == null
                    div(style="padding:5px;background-color:#ffcccc;") Anonymouse Mode
                else
                    div Login
                .well.sidebar-nav
                    ul.nav.nav-list
                        li.nav-header
                            | Home
                        li
                            a#all_items(href='#')
                                | all(0)
                        li.nav-header
                            | Feeds
                        li
                            a(href='#')
                                | 登録フィード
            .span10(style="overflow: scroll;")
                .row-fluid
                    div(style="margin-bottom:5px;") フィード登録 ...
                        a#gr_import(style="cursor:pointer;") import
                    div#file_upload(style="display:none;")
                        form(action="/import_google_reader_subscriptions", method="POST", enctype="multipart/form-data")
                            input(type="hidden", name="token", value="#{session_token}")
                            input#file-input(type='file', name='file', style='display: none;')
                            .input-prepend
                                a.btn(onclick='$(\'#file-input\').click();')
                                    i.icon-folder-open
                                span#cover.input-xlarge.uneditable-input select file
                                button.btn#do_file_upload(type="submit") upload
                    script(type="text/javascript")
                        $('#file-input').change(function() {
                            $('#cover').html($(this).val());
                        });
                    .input-append
                        input.input-xxlarge#feed(type="text")
                        button.btn#submit 登録
                hr
                .row-fluid
                    .span7#feed_list
                        div 登録フィード一覧
            hr
                div
                    | © toshihiro yagi 2013
    script(type="text/javascript")
        require(['flight-component/pages/settings'], function(initialize) {
                initialize();
            });