doctype 5
html
    head
        meta(name="viewport",content="width=device-width")
        title= title
        link(href='components/bootstrap.css/css/bootstrap.min.css', rel="stylesheet")
        link(href='components/bootstrap.css/css/bootstrap-responsive.min.css', rel="stylesheet")
        script(src='components/jquery/jquery.min.js')
        script(src='components/bootstrap.css/js/bootstrap.js')
        script(src="components/es5-shim/es5-sham.js")
        script(src="components/es5-shim/es5-shim.js")
        script(src="components/requirejs/require.js")
        script(src="components/datejs/build/date.js")
        script(src='components/hogan/lib/template.js')
        script(src='components/hogan/lib/compiler.js')
        script
            var session_token = "#{session_token}";
        body
        block content